body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#canvas{
    background: url(flappybirdbg.png);
}
/*
//board
let canvas;
const gameWidth=360;
const gameHeight=640;
let ctx;

//bird
let birdWidth=34;
let birdHeight=24;
let birdX=gameWidth/8;
let birdY=gameHeight/2;
let birdImg
let bird={
    x:birdX,
    y:birdY,
    width:birdWidth,
    height:birdHeight,
}
let gravity=0.4;
let velocityY=0;
let Pipes=[]
let pipeWidth=64;
let pipeHeight=512;
let pipeX=gameWidth;
let pipeY=0;
let topPipeImg;
let bottomPipeImg;
let velocityX=-2;
let gameOver=false;
window.onload= function(){
    canvas=document.getElementById("canvas");
    ctx=canvas.getContext("2d");
    canvas.width=gameWidth;
    canvas.height=gameHeight;
    birdImg=new Image();
    birdImg.src="./flappybird.png";
    birdImg.onload=function(){
        ctx.drawImage(birdImg,bird.x,bird.y,bird.width,bird.height)
    }
    topPipeImg=new Image();
    topPipeImg.src="./toppipe.png";
    bottomPipeImg= new Image();
    bottomPipeImg.src="./bottompipe.png";
    requestAnimationFrame(update);
    setInterval(setPipe,1500)
    document.addEventListener("keydown",moveBird);
}
function update(){
    requestAnimationFrame(update);
    if(gameOver){
        ctx.font="40px Arial";
        ctx.fillStyle="red";
        ctx.fillText("Game Over",gameWidth/4,gameHeight/2);
        return;
    }
    ctx.clearRect(0,0,canvas.width,canvas.height);
    velocityY+=gravity;
    bird.y=Math.max(bird.y+velocityY,0);
    ctx.drawImage(birdImg,bird.x,bird.y,bird.width,bird.height);
    if(bird.y+bird.height>gameHeight){
        gameOver=true;
    }
    for(let i=0;i<Pipes.length;i++){
        let pipe=Pipes[i];
        pipe.x+=velocityX;
        ctx.drawImage(pipe.img,pipe.x,pipe.y,pipe.width,pipe.height);
        if(checkColision(bird,pipe)){
            gameOver=true;
        }
    }
    while(Pipes.length>0 && Pipes[0].x+pipeWidth<0){
        Pipes.shift();
    }
}
function setPipe(){
    if(gameOver) return;
    let randomPipeY= pipeY-pipeHeight/4-Math.random()*(pipeHeight/2);
    let space=gameHeight/4;
    let topPipe={
        img:topPipeImg,
        x:pipeX,
        y:randomPipeY,
        width:pipeWidth,
        height:pipeHeight,
        passed:false,
    }
    Pipes.push(topPipe);
    let bottomPipe={
        img:bottomPipeImg,
        x:pipeX,
        y:randomPipeY+pipeHeight+space,
        width:pipeWidth,
        height:pipeHeight,
        passed:false,
    }
    Pipes.push(bottomPipe)
}
function moveBird(e){
    if(e.code=="Space" || e.code=="ArrowUp"){
        velocityY = -6;
    }
}
function checkColision(a,b){
    return a.x<b.x+b.width &&
           a.x+a.width>b.x &&
           a.y<b.y+b.height &&
           a.y+a.height>b.y;
}
*/